.ctp-m {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo {
    width: 60vw;
    padding-left: 22px;
}

.s1 p {
    text-align: center;
    justify-content: center;
    padding-left: 1px;
    width: 55vw;
    flex-direction: column;
    gap: 20px;
}

.Pe {
    justify-content: center;
    align-items: center;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #212121;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255 255 255 / 10%);
}